.excalidraw-button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
  
    i {
      margin-right: 5px;
    }
  }
  
  .excalidraw-mobile-button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
  
    i {
      margin-right: 5px;
    }
  }
  